@import "../../styles/core/variables";

//hacky work around to be able to import the file see gulpfile for more info

// Global Variables

$theme-color--light: #198ac3;
$theme-color--dark: #2f353e;

// Colors =============================== //
$brand-color: $theme-color--light;
$brand-color--light: #fff;
$brand-color--dark: #224561;

$white: #fff;
$white--dark: #fff;
$black: #000;
$black--light: #000;

$grey: $theme-color--light;

$media-video-color: $theme-color--light;
$media-link-color: $theme-color--light;
$media-pdf-color: $theme-color--light;

$pastel-blue: #91ddff;
$pastel-pink: #91ddff;
$pastel-green: #91ddff;

$body-bg: $theme-color--dark;
$text-color: $white;

$link-color: $theme-color--dark;
$highlight-color: $theme-color--light;

// Style =============================== //
$font-family: Helvetica, Arial, sans-serif;

// Layout =============================== //

// Override HACKS =============================== //
// Please keep to a minimum!!!

.section {
  color: $black !important;
}

a {
  text-decoration: underline;
}

&__logo {
  height: 100%;
  background: url("../images/logo-emblem-white.svg") no-repeat center !important;
  background-size: 100% 100%;
  font-size: 0;
  background-color: none !important;

  @media only screen and (min-width: $screen-s) {
    background-image: url("../images/logo_white.svg");
  }
}