@import "../../styles/core/variables";

//hacky work around to be able to import the file see gulpfile for more info

// Global Variables

$theme-color--light: #198ac3;
$theme-color--dark: #2f353e;

// Colors =============================== //
$brand-color: $theme-color--light;
$brand-color--light: #fff;
$brand-color--dark: #224561;

$white: #fff;
$white--dark: #fff;
$black: #000;
$black--light: #000;

$grey: $theme-color--light;

$media-video-color: $theme-color--light;
$media-link-color: $theme-color--light;
$media-pdf-color: $theme-color--light;

$path-bg: #91ddff;

$body-bg: $theme-color--dark;
$text-color: $white;

$link-color: $theme-color--dark;
$highlight-color: $theme-color--light;

// Style =============================== //
$font-family: Helvetica, Arial, sans-serif;

// Layout =============================== //

// Override HACKS =============================== //
// Please keep to a minimum!!!

.section {
  color: $black !important;
}

a {
  text-decoration: underline;
}

.site {
  &__header__logo {
    background-image: url("../images/logo-emblem-white.svg");

    @media only screen and (min-width: $screen-s) {
      background-image: url("../images/logo-white.svg");
    }
  }

  &__footer a {
    color: white;
  }
}

.auth {
  &__logo {
    background-image: url("../images/logo-white.svg");
  }

  a {
    color: white;
  }
}
