@import 'core/variables';
@import 'core/helpers';

.page-not-found {
  width: 60%;
  margin: 0px auto;


  @media only screen and (min-width:$screen-xs) and (max-width: $screen-m) {
    width: 95%;
  }
}