@import "core/animations";

.auth {
    margin: 60px auto 0;
    max-width: 400px;
    text-align: center;
    font-size: 1.1em;

    .form {
        text-align: left;
        display: inline-block;
        padding: 10px;
    }

    .btn {
        display: block;
        width: 100%;
    }

    &__logo {
        width: 100%;
        max-width: 280px;
    }

    &--login {
        animation: fadeInUp 0.8s ease-out;
    }

    &--password-recovery {
    }
}