@import "core/variables";
@import "core/animations";

.auth {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  font-size: 1.1em;
  padding: $global-padding;
  padding-top: 10%;

  .form {
    text-align: left;
    display: inline-block;
    padding: 10px;
  }

  .btn {
    display: block;
    width: 100%;
  }

  &__logo {
    height: 100px;
    background: url("../images/logo.svg") no-repeat center;
    background-size: 100% 100%;
    font-size: 0;
  }

  &--login {
    animation: fadeInUp 0.8s ease-out;
  }

  &--password-recovery {
  }
}