@import "core/variables";
@import "core/fonts";
@import "core/base";
@import "core/layout";

@import "components/buttons";
@import "components/form";
@import "components/dropdown";
@import "components/loading-bar";
@import "components/search";
@import "components/media";
@import "components/site";

@import "404";
@import "auth";
@import "paths";
@import "pathway";
@import "settings";


.update-browser {
  margin: 0.2em 0;
  background: #111;
  color: #eee;
  padding: 0.2em 0;
}

.ng-cloak {
  display: none;
}