@import "core/variables";
@import "core/fonts";
@import "core/base";
@import "core/layout";

@import "components/buttons";
@import "components/form";
@import "components/media";
@import "components/login";
@import "components/site";

@import "pathway";

.browsehappy {
    margin: 0.2em 0;
    background: #111;
    color: #eee;
    padding: 0.2em 0;
}

