@import 'core/variables';
@import 'components/timeline';

.pathway {
  .settings {
    font-size: 1em;
  }

  .timeline {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}