@import 'core/variables';

.timeline {
  margin: 0 auto;

  @media only screen and (min-width: $screen-s) {
    width: 95%;
  }

  @media only screen and (min-width: $screen-l) {
    width: 80%;
  }

  @media only screen and (min-width: $screen-xl) {
    width: 70%;
  }

  &__recentposts {
    background-color: $brand-color--darker;
    color: $white;
    padding: $global-padding--small;
    margin: 0 auto;
    width: 25%;
    text-align: center;
    border-radius: $border-radius;
  }

  &__container {
    list-style: none;
    margin: 0;
    padding: $global-padding-y 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 2px;
      background: $brand-color--darker;
    }

    .timeline__panel {
      list-style: none outside none;
      position: relative;
      margin-top: 70px;

      $icon-size: 4vw;

      .timeline__icon {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1em;
        margin-top: -1em;
        font-size: 1.5em;

        @media only screen and (min-width: $screen-s) {
          font-size: 2em;
        }

        @media only screen and (min-width: $screen-l) {
          font-size: 2.4em;
        }
      }

      p {
        font-size: 0.8em;
      }

      @media only screen and (min-width: $screen-m) {
        margin-top: 0;
        margin-bottom: -180px; //TODO: hmm... should be dynamic.. maybe width the points then divide it by 2?

        $offset: 15%;

        .timeline__icon {
          top: 50%;
          left: auto;
        }

        &:after {
          content: '';
          position: absolute;
          height: 2px;
          width: $offset;
          top: 50%;
          background: $brand-color--darker;
          z-index: -1;
        }

        &:nth-child(2n+1) {
          margin-left: 50%;

          .section {
            margin-left: $offset;
          }
        }

        &:nth-child(2n+2) {
          margin-right: 50%;

          .section {
            margin-right: $offset;
          }

          .timeline__icon,
          &:after {
            right: 0;
          }

          .timeline__icon {
            margin-right: -1em;
          }
        }
      }

      .timeline__link {
        padding: 0 4%;

        h5 {
          color: $media-link-color;
        }
      }

      .timeline__pdf {
        padding: 0 4%;

        h5 {
          color: $media-pdf-color;
        }

      }
    }
  }
}



