@import 'core/variables';
@import 'core/helpers';

.pathways {
  @extend %list-unstyled;

  .pathway-overview {
    display: inline-block;
    vertical-align: top;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;

    @media only screen and (min-width: $screen-xs) and (max-width: $screen-s) {
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
    }

    @media only screen and (min-width: $screen-s) {
      width: 46%;
    }

    @media only screen and (min-width: $screen-l) {
      width: 29.33%;
    }
  }
}

.pathway-overview {
  &:nth-child(3n+1) {
    background-color: $pastel-blue;
  }

  &:nth-child(3n+2) {
    background-color: $pastel-pink;
  }

  &:nth-child(3n+3) {
    background-color: $pastel-green;
  }

  &__points {
    @extend %list-unstyled;

    &__item {
      background: $white;
      padding: $global-padding-y--small $global-padding-x;
      margin: $global-margin-y 0;
      border-radius: $border-radius;
      text-overflow: ellipsis;
    }
  }
}