@import 'core/variables';
@import 'components/timeline';

.pathway {
  .search-bar {
    float: left;
    text-align: left;
  }

  .settings {
    float: right;
    font-size: 1em;
  }

  .timeline {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;

    @media only screen and (min-width: $screen-xs) and (max-width: $screen-m) {
      top: 140px;
    }
  }
}