.pathway {
  width: 100%;
  padding: 30px;
  display: inline-block;

   .blue{
    background-color:#b3e8e9;
  }

  .pink {
    background-color:#f2dede;
  }

  .green {
    background-color:#c2feb6;
  }

  .grey {
    background-color:#dff0d8;
  }

  &__outer {
    width:33.333%;
    float:left;

    .pathway__container  {
        background: $white;
        padding: 10px $global-padding-x;
        margin:  $global-margin-y 0px;
        border-radius: $border-radius;
        text-align:left;
    }
  }
}