@import 'core/variables';
@import 'core/helpers';

.pathways {
  @extend %list-unstyled;

  .pathway-overview {
    display: inline-block;
    vertical-align: top;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;

    @media only screen and (min-width: $screen-xs) and (max-width: $screen-s) {
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
    }

    @media only screen and (min-width: $screen-s) {
      width: 46%;
    }

    @media only screen and (min-width: $screen-l) {
      width: 29.33%;
    }
  }
}

.pathway-overview {
  background-color: $path-bg;

  &__points {
    @extend %list-unstyled;
    max-height: 260px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &__item {
      background: $white--dark;
      padding: $global-padding-y--small $global-padding-x;
      margin: $global-margin-y 0;
      border-radius: $border-radius;
      text-overflow: ellipsis;
    }
  }
}