// Global Variables

// Colors =============================== //
$body-bg: #f4f4f4;
$text-color: #111;

$white: #FFF;
$white--dark: darken($white, 10%);
$black: #000;
$black--light: lighten($black, 10%);
$grey: #ccc;
$grey--dark: darken($grey, 7%);
$grey--light: lighten($grey, 7%);

$brand-color: #345B93;
$brand-color--light: #6999e1;
$brand-color--dark: #284672;

$link-color: $brand-color--light;
$highlight-color: lighten($brand-color--light, 5%);

$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;

// Style =============================== //
$font-family--sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--serif: Georgia, "Times New Roman", Times, serif;
$font-family--mono: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family: $font-family--sans-serif;

$font-size: 14px;
$font-size--large: ceil(($font-size * 1.25));
$font-size--small: ceil(($font-size * 0.85));

$letter-spacing: 0.05em;
$border-radius: 3px;

// Layout =============================== //
$average-screen-width: 1366px;
$average-screen-height: 768px;

$global-margin-x: 5%;
$global-margin-y: 2%;
$global-margin: $global-margin-y $global-margin-x;

$global-padding-x: 5%;
$global-padding-y: 2%;
$global-padding: $global-padding-y $global-padding-x;

// Media query breakpoints
$screen-xs: 20em;
$screen-s: 30em;
$screen-m: 50em;
$screen-l: 70em;
$screen-xl: 100em;