@import '../core/variables';

.btn {
  display: inline-block;
  margin: 0.5em auto;
  padding: 0.6em 1em;
  max-width: 100%;
  border: 2px solid transparent;
  outline: none;

  background: $brand-color;
  border-radius: $border-radius;
  color: $white;
  cursor: pointer;
  font-family: $font-family;
  text-decoration: none;
  font-size: 0.9em;
  transition: 200ms background;

  &:focus {
    border-color: $brand-color--dark;
  }

  &:hover {
    background: $brand-color--dark;
    text-decoration: none;
  }

  &--small {
    padding: 0.1em 0.4em;
    margin: 0;
  }

  &--dark {
    background: $brand-color--dark;

    &:focus {
      border-color: $brand-color;
    }

    &:hover {
      background: $brand-color;
    }
  }

  &--grey {
    color: $black;
    background: $grey--light;

    &:focus {
      border-color: $grey;
    }

    &:hover {
      background: $grey;
    }
  }
}