@import '../core/variables';

.btn {
  display: inline-block;
  margin: 0.5em auto;
  padding: 0.6em 1em;
  max-width: 100%;
  border: 2px solid transparent;
  outline: none;

  background: $brand-color;
  border-radius: $border-radius;
  color: $white;
  cursor: pointer;
  font-family: $font-family;
  text-decoration: none;
  font-size: 0.9em;
  transition: 200ms background;

  &:focus {
    border-color: $brand-color;
  }

  &:focus,
  &:hover {
    background: $brand-color;
    text-decoration: none;
  }

  &--dark {
    background: $brand-color;

    &:focus,
    &:hover {
      background: $brand-color;
    }

    &:focus {
      border-color: $brand-color;
    }
  }
}