@import '../core/variables';
@import '../core/helpers';

.dropdown {
  @extend %list-unstyled;
  position: absolute;
  z-index: 1000;
  max-height: 400px;
  max-height: 60vh;
  margin-top: 5px !important; //hmmm...

  background: $white;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 7px;
  color: $black;
  animation: fadeInDown 150ms ease-out;
  box-shadow: $box-shadow;

  &__item {
    padding: 16px 20px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      background: $white--dark;
      text-decoration: none;
    }
  }
}