@import '../core/variables';

%input-style {
    display: block;
    margin: 0.3em 0 0.7em;
    padding: 0.4em 0.6em;
    border: 2px solid #aaa;

    font-size: 1em;
    border-radius: $border-radius;
    color: $grey;
    outline: none;
    transition: 150ms border;
    background-color: $white;
    width: 100%;

    &:focus {
        border-color: $brand-color--dark;
    }
}

.form {
    &__input {
        @extend %input-style;
    }

    &__select {
        @extend %input-style;
    }
}