@import '../core/variables';

.resource {
  &--video {
    .resource__heading {
      color: $media-video-color;
    }

    &__play {
      $size: 90px;

      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      height: 100%;
      width: 100%;
      color: $media-video-color;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      font-size: $size;
      cursor: pointer;
      z-index: 100;
      transition: color 100ms;

      i {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: $size;
        width: $size;
      }

      &:hover {
        color: lighten($media-video-color, 5%);
      }
    }
  }

  &--link {
    .resource__heading {
      color: $media-link-color;
    }
  }

  &--pdf {
    .resource__heading {
      color: $media-pdf-color;
    }
  }

  &--image {
    .resource__heading {
      color: $media-image-color;
    }
  }

  &--form {
    .resource__heading {
      color: $media-form-color;
    }
  }
}