@import '../core/variables';
@import '../core/helpers';

.search-bar {
  position: relative;
  display: block;
  margin: 0.5em 0;
  width: 100%;
  max-width: 400px;

  $btn-size: 50px;

  &__input {
    @extend %input-style;
    display: inline-block;
    width: calc(100% - #{$btn-size});
    height: 50px;
    color: $black;
    border-color: $brand-color;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    margin-right: -2px;

    @media only screen and (max-width: $screen-m) {
      display: none;
    }
  }

  &__submit {
    padding: 0;
    margin: 0;
    width: $btn-size + 2px;
    height: $btn-size;

    @media only screen and (min-width: $screen-m) {
      float: right;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .dropdown {
    overflow-y: scroll;
    width: 100%;
  }
}