@import '../core/variables';
@import '../core/helpers';

.search-bar {
  position: relative;
  display: block;
  margin: 0.5em 0;
  width: 100%;
  max-width: 400px;

  $btn-size: 50px;

  @media only screen and (max-width: $screen-m) {
    &:focus,
    &:hover {
      position: absolute;
      left: $global-padding-x--small;
      right: $global-padding-x--small;
      z-index: 1000;

      .search-bar{
        &__input {
          display: inline-block;
        }

        &__submit {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  &__input {
    @extend %input-style;
    display: inline-block;
    width: calc(100% - #{$btn-size});
    height: $btn-size;
    color: $black;
    border-color: $brand-color;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    margin-right: -$btn-size / 2;
    -webkit-appearance: none;

    @media only screen and (max-width: $screen-s) {
      height: 40px;
    }

    @media only screen and (max-width: $screen-m) {
      display: none;
      transform-origin: 0 0;
      animation: stretchIn 100ms ease-out;
    }
  }

  &__submit {
    padding: 0;
    margin: 0;
    width: $btn-size;
    height: $btn-size;

    @media only screen and (min-width: $screen-m) {
      float: right;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .dropdown {
    width: 100%;
  }
}