@import '../core/variables';
@import '../core/helpers';

.search-bar {
  display: inline-block;

  &__input {
    @extend %input-style;
    display: inline-block;
    width: auto;
    color: $brand-color--darker;

    @media only screen and (min-width: $screen-xs) and (max-width: $screen-m) {
      width: 85%;
    }
  }

  &__submit {
    margin-left: -10px;
    padding: 9px;
    border-radius: 0;
    padding-bottom: 12px;
  }

  &__dropdown {
    position: absolute;
    background: $grey--light;
    padding: $global-padding;
    z-index: 1000;
    animation: fadeInDown 200ms ease-out;
    border-radius: 7px;
    min-width: 318px;
    margin: 0;
    list-style: none;
    color: $brand-color--darker;
  }

  &__results {
    padding: 5px 0;
  }
}