@import '../core/variables';

.site {
  &__header {
    text-align: center;
    padding: $global-padding-y--small $global-padding-x;
    height: 90px;
    background: $body-bg;

    .settings {
      .btn {
        font-size: 1em;
      }

      .dropdown {
        right: $global-padding-x--small;
        text-align: left;
      }
    }
  }

  &__footer {
    padding: 10px;
    text-align: center;
    font-size: 0.7em;
    opacity: 0.8;
  }
}