@import '../core/variables';

.site {
  &__header {
    text-align: center;
    padding: $global-padding-y--small $global-padding-y--small;
    height: 90px;
    background: $body-bg;

    @media only screen and (min-width: $screen-s) {
      padding: $global-padding-y--small $global-padding-x;
    }

    .btn {
      font-size: 0.8em;
      height: 50px;
      vertical-align: top;

      @media only screen and (min-width: $screen-s) {
        font-size: 1em;
      }
    }

    &__logo {
      height: 65px;
      background: url("../images/logo-emblem.svg") no-repeat center;
      background-size: 100% 100%;
      font-size: 0;

      @media only screen and (min-width: $screen-s) {
        background-image: url("../images/logo.svg");
      }
    }

    &__action {
      display: inline-block;
      position: relative;

      .dropdown {
        text-align: left;
        right: 0;
      }

      .notifications {
        width: 300px;

        .dropdown__item {
          white-space: normal;
        }
      }
    }
  }

  &__footer {
    padding: 10px;
    text-align: center;
    font-size: 0.7em;
    opacity: 0.8;
  }
}