@import '../core/variables';

.site {
  &__header {
    text-align: center;
    padding: $global-padding-y--small $global-padding-y--small;
    height: 70px;
    background: $body-bg;

    @media only screen and (min-width: $screen-s) {
      height: 90px;
      padding: $global-padding-y--small $global-padding-x;
    }

    .btn {
      font-size: 1em;
      height: 50px;
      vertical-align: top;

      @media only screen and (max-width: $screen-s) {
        font-size: 0.7em;
        height: 40px;
        padding: 0.4em 0.8em;
      }
    }

    &__logo {
      height: 100%;
      background: url("../images/logo-emblem.svg") no-repeat center;
      background-size: auto 100%;
      font-size: 0;

      @media only screen and (min-width: $screen-s) {
        background-image: url("../images/logo.svg");
      }
    }

    &__action {
      display: inline-block;

      .dropdown {
        right: 0;
        left: 0;
        margin: 0 $global-margin-x;
        text-align: left;
      }

      .notifications .dropdown__item {
        white-space: normal;
      }

      @media only screen and (min-width: $screen-s) {
        position: relative;

        .dropdown {
          right: 0;
          left: auto;
          margin: 0;
        }

        .notifications {
          width: 300px;
        }
      }
    }
  }

  &__footer {
    padding: 10px;
    text-align: center;
    font-size: 0.7em;
    opacity: 0.8;
  }
}