@import "variables";

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $brand-color;
    border-radius: 6px;

    &:hover {
      background-color: $brand-color;
    }
  }
}

body {
  background: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  margin: 0;
}

input {
  box-shadow: none;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline-color: $brand-color;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0.2em 0 0.5em;
}

p {
  margin: 0.3em 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}



main {
  display: block; //IE fix
}
