@import "variables";

* {
    box-sizing: border-box;
}

body {
    background: $body-bg;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline-color: darken($brand-color--dark, 10%);
    }
}

h1, h2, h3, h4, h5, p {
    margin: 0.2em 0 0.5em;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

main {
    display: block; //IE fix
}