$fonts-path: '../content/fonts/';

@font-face {
  font-family: 'museo_sans500';
  src: url($fonts-path + 'MuseoSans_500-webfont.eot');
  src: url($fonts-path + 'MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
  url($fonts-path + 'MuseoSans_500-webfont.woff2') format('woff2'),
  url($fonts-path + 'MuseoSans_500-webfont.woff') format('woff'),
  url($fonts-path + 'MuseoSans_500-webfont.ttf') format('truetype'),
  url($fonts-path + 'MuseoSans_500-webfont.svg#museo_sans500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans300';
  src: url($fonts-path + 'MuseoSans_300-webfont.eot');
  src: url($fonts-path + 'MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
  url($fonts-path + 'MuseoSans_300-webfont.woff2') format('woff2'),
  url($fonts-path + 'MuseoSans_300-webfont.woff') format('woff'),
  url($fonts-path + 'MuseoSans_300-webfont.ttf') format('truetype'),
  url($fonts-path + 'MuseoSans_300-webfont.svg#museo_sans300') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'museo_sans100';
  src: url($fonts-path + 'MuseoSans_100-webfont.eot');
  src: url($fonts-path + 'MuseoSans_100-webfont.eot?#iefix') format('embedded-opentype'),
  url($fonts-path + 'MuseoSans_100-webfont.woff2') format('woff2'),
  url($fonts-path + 'MuseoSans_100-webfont.woff') format('woff'),
  url($fonts-path + 'MuseoSans_100-webfont.ttf') format('truetype'),
  url($fonts-path + 'MuseoSans_100-webfont.svg#museo_sans100') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url($fonts-path + 'icons.eot?3svi6k');
  src: url($fonts-path + 'icons.eot?#iefix3svi6k') format('embedded-opentype'),
  url($fonts-path + 'icons.woff?3svi6k') format('woff'),
  url($fonts-path + 'icons.ttf?3svi6k') format('truetype'),
  url($fonts-path + 'icons.svg?3svi6k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon'!important; //hmmm.... btn css seems to be overriding the font
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: "\e602";
  }
}

.icon-arrow:before {
  content: "\e600";
}

.icon-bell:before {
  content: "\e601";
}

.icon-mountains:before {
  content: "\e602";
}

.icon-play:before {
  content: "\e603";
}

.icon-pdf:before {
  content: "\e604";
}

.icon-video:before {
  content: "\e605";
}

.icon-link:before {
  content: "\e606";
}

.icon-search:before {
  content: "\e607";
}

.icon-form:before {
  content: "\e608";
}

.icon-menu:before {
  content: "\e609";
}

.icon-image:before {
  content: "\e90d";
}

.icon-remove:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
}