@import "variables";

.section {
    background: $white;
    padding: $global-padding;
    margin: $global-margin;
    border-radius: $border-radius;
    border-bottom: 3px solid #ddd;
}

.small {
    font-size: 0.8em;
}

.big {
    font-size: 1.4em;
}