@import "variables";

.section {
  background: $white;
  padding: $global-padding;
  margin: $global-margin;
  border-radius: $border-radius;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.compact {
  @media only screen and (min-width: $screen-m) {
    display: none !important;
  }
}

.expanded {
  @media only screen and (max-width: $screen-m) {
    display: none !important;
  }
}

.col {
  float: left;
  height: 100%;

  // Two
  &-1-2 {
    width: 50%;
  }

  //Three
  &-1-3 {
    width: 33.33%;
  }

  &-2-3 {
    width: 66.66%;
  }

  //Four
  &-1-4 {
    width: 25%;
  }

  &-2-4 {
    width: 50%;
  }

  &-3-4 {
    width: 75%;
  }
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.small {
  font-size: 0.8em;
}

.big {
  font-size: 1.4em;
}

.wrap {
  &--w {
    display: block;
    height: auto;
    width: 100%
  }

  &--h {
    height: 100%;
    width: auto
  }

  &--ratio-16-9 {
    display: block;
    position: relative;

    > * {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 56%;
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }