@import "variables";

.section {
    background: $white;
    padding: $global-padding;
    margin: $global-margin;
    border-radius: $border-radius;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.small {
    font-size: 0.8em;
}

.big {
    font-size: 1.4em;
}