// Global Variables

// Colors =============================== //
$brand-color: #357880;
$brand-color--light: #68d5d8;
$brand-color--dark: #18545A;

$media-video-color: #3498db;
$media-link-color: #e76e70;
$media-pdf-color: #1eb47d;
$media-image-color: #4f52b9;
$media-form-color:#E17820;

$path-bg: #1abc9c;

$white: #fff;
$white--dark: #f5f5f5;
$black: #333;
$black--light: lighten($black, 10%);
$grey: #bbb;
$grey--dark: #666;
$grey--light: #ddd;

$body-bg: $brand-color--light;
$text-color: $black;

$link-color: $brand-color--dark;
$highlight-color: $brand-color--dark;

$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;

// Style =============================== //
$font-family: 'museo_sans300', Helvetica, Arial, sans-serif;

$font-size: 20px;
$font-size--large: ceil(($font-size * 1.25));
$font-size--small: ceil(($font-size * 0.85));

$letter-spacing: 0.05em;
$border-radius: 7px;
$box-shadow: 0 5px 30px rgba(0,0,0,0.1);

// Layout =============================== //
$average-screen-width: 1366px;
$average-screen-height: 768px;

$global-margin-x: 16px;
$global-margin-y: 16px;
$global-margin: $global-margin-y $global-margin-x;

$global-padding-x: 24px;
$global-padding-y: 20px;
$global-padding: $global-padding-y $global-padding-x;

$global-padding-x--small: $global-padding-x / 2;
$global-padding-y--small: $global-padding-y / 2;
$global-padding--small: $global-padding-y--small $global-padding-x--small;

// Media query breakpoints
$screen-xs: 20em;
$screen-s: 30em;
$screen-m: 50em;
$screen-l: 70em;
$screen-xl: 100em;