// Global Variables

// Colors =============================== //
$brand-color: #68d5d8;
$brand-color--light: #90e4f1;
$brand-color--dark: #37848c;
$brand-color--darker:#18545A;

$media-video-color: #e76e70;
$media-link-color: #3498db;
$media-pdf-color: #1eb47d;

$white: #fff;
$white--dark: darken($white, 10%);
$black: #333;
$black--light: lighten($black, 10%);
$grey: #393939;
$grey--dark: darken($grey, 7%);
$grey--light: #f5f5f5;

$body-bg: #68d5d8;
$text-color: $black;

$link-color: $brand-color--dark;
$highlight-color: $brand-color--dark;

$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;

// Style =============================== //
$font-family: 'museo_sans300', Helvetica, Arial, sans-serif;

$font-size: 20px;
$font-size--large: ceil(($font-size * 1.25));
$font-size--small: ceil(($font-size * 0.85));

$letter-spacing: 0.05em;
$border-radius: 7px;

// Layout =============================== //
$average-screen-width: 1366px;
$average-screen-height: 768px;

$global-margin-x: 16px;
$global-margin-y: 16px;
$global-margin: $global-margin-y $global-margin-x;

$global-padding-x: 24px;
$global-padding-y: 20px;
$global-padding: $global-padding-y $global-padding-x;

// Media query breakpoints
$screen-xs: 20em;
$screen-s: 30em;
$screen-m: 50em;
$screen-l: 70em;
$screen-xl: 100em;