<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title ng-bind="title + ' - Patient Pathway'">Patient Pathway</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <% if(isProduction) { %>
    <base href="http://mattkemp.info/patient-pathway/">
    <% } %>
    <!-- //TODO: Place touch icons -->

    <link href="styles/main.css" rel="stylesheet" id="stylesheet">
</head>
<body>
    <!--[if lt IE 9]>
    <p class="update-browser">You are using an <strong>outdated</strong> browser. Please <a href="https://whatbrowser.org/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <noscript>JavaScript must be enabled to view this page</noscript>

    <div ng-view class="view"></div>
    <footer class="site__footer ng-cloak">&copy; Early Intervention Team - <a href="" ng-click="changeTheme()">Toggle High Contrast Theme</a></footer>

    <script src="libs/core.js" type="text/javascript"></script>
    <script>
        require(['app', 'user-module', 'pathway-module'], function() {
            angular.element(document.getElementsByTagName('html')[0]).ready(function() {
                angular.bootstrap(document, ['PatientPathway']);
            });
        });
    </script>
    <!-- //TODO: change Google Analytics UA-XXXXX-X to be site's ID. -->
    <script>
        //        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        //                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        //            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        //            e.src='//www.google-analytics.com/analytics.js';
        //            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        //        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>
