<div class="timeline__cover">
    <div class="timeline__breakpoint">
        <p>{{label}}</p>
    </div>
</div>

<ul class="timeline__container" infinite-scroll="fetchNextItems()" infinite-scroll-distance="1" infinite-scroll-disabled="scrollPaused">
    <li ng-repeat="section in sections">
        <div class="timeline__breakpoint">
            <p>{{section.label}}</p>
        </div>

        <ul class="timeline__container">
            <li class="timeline__panel" ng-repeat="item in section.items">
                <div class="media timeline__panel__icon" ng-class="['media--' + item.type, 'icon-' + item.type]"></div>

                <section class="timeline__panel__section section">
                    <div class="wrap--ratio-16-9">
                        <img ng-src="{{item.thumbnail}}" alt="{{item.title}}" ng-click="(item.type === 'video') ? item.showVideo = true : null" ng-hide="item.showVideo" />
                        <iframe ng-if="item.showVideo" ng-src="{{item.url}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div ng-class="'timeline__panel__' + item.type">
                        <h4 class="timeline__panel__heading">{{item.title}}</h4>
                        <!-- TODO: bind date and author-->
                        <p>Posted on 06/05/2015 by Grace</p>
                        <p>{{item.notes}}</p>
                        <a href="#">Read More</a>
                        <button class="btn timeline__panel__delete" ng-hide="readOnly" ng-click="removeItem(item.id)">Remove</button>
                    </div>
                </section>
            </li>
        </ul>
    </li>
</ul>