<div class="timeline__cover">
    <div class="timeline__breakpoint">
        <p>{{label}}</p>
    </div>
</div>

<ul class="timeline__container" infinite-scroll="fetchNextItems()" infinite-scroll-distance="1" infinite-scroll-disabled="scrollPaused">
    <li ng-repeat="section in sections">
        <div class="timeline__breakpoint">
            <p>{{section.label}}</p>
        </div>

        <ul class="timeline__container">
            <li class="timeline__panel" ng-repeat="item in section.items">
                <div class="media timeline__panel__icon icon" ng-class="['media--' + item.mediaTypeName, 'icon-' + item.mediaTypeName]"></div>

                <section class="timeline__panel__section section" ng-switch on="item.mediaTypeName">
                    <generic-resource ng-switch-default resource="item"></generic-resource>
                    <video-resource ng-switch-when="video" resource="item"></video-resource>
                    <image-resource ng-switch-when="image" resource="item"></image-resource>
                    <link-resource ng-switch-when="link" resource="item"></link-resource>
                    <pdf-resource ng-switch-when="pdf" resource="item"></pdf-resource>
                    <form-resource ng-switch-when="form" resource="item"></form-resource>
                    <button class="btn btn--grey timeline__panel__delete" ng-if="sections[0] == section && !readOnly" ng-click="removeItem(item.id)">Remove</button>
                </section>
            </li>
        </ul>
    </li>
</ul>