<form ng-submit="search(text)" class="search-bar">
    <input class="search-bar__input" ng-model="text" type="search" placeholder="{{placeholder}}">
    <button type="submit" class="btn icon-search search-bar__submit"></button>
    <ul class="search-bar__dropdown" ng-show="results.length > 0">
        <li ng-repeat="item in results" ng-class="['icon-' + item.type]" class="search-bar__results">
            <a ng-click="itemClick(item.id)" href="">{{item.title}}</a>
        </li>
    </ul>
</form>