<header class="site__header">
    <div class="col col-1-3 left">
        <div ng-transclude></div>
    </div>
    <div class="col col-1-3 center">
        <a href="#/paths"><h1 id="logo" class="site__header__logo">Patient Pathway</h1></a>
    </div>
    <div class="col col-1-3 right">
        <div class="site__header__action" ng-show="User.permissionLevel >= UserPermissions.PATIENT">
            <button ng-focus="showUserMenu = true" ng-blur="showUserMenu = false" class="btn"><i class="compact icon icon-menu"></i><span class="expanded">{{ User.name }}</span></button>
            <ul class="dropdown ng-hide" ng-show="showUserMenu">
                <li><a href="#/paths" class="dropdown__item">View pathways</a></li>
                <li><a href="#/clinicians" class="dropdown__item">Clinicians</a></li>
                <li><a href="" ng-click="changeTheme()" class="dropdown__item">High Contrast Theme</a></li>
                <li><a href="#/settings" class="dropdown__item">Settings</a></li>
                <li><a href="#/logout" class="dropdown__item">Logout</a></li>
                <li><a href="#/help" class="dropdown__item">Help</a></li>
            </ul>
        </div>
        <div class="site__header__action" ng-show="User.permissionLevel >= UserPermissions.PATIENT">
            <button ng-focus="showNotificationsDropdown = true" ng-blur="showNotificationsDropdown = false" class="btn icon icon-bell"></button>
            <ul class="dropdown notifications ng-hide" ng-show="showNotificationsDropdown">
                <li class="dropdown__item" ng-repeat="notification in notifications">
                    <p>{{notification.message}}</p>
                    <p class="small right">{{notification.date}}</p>
                </li>
            </ul>
        </div>
    </div>
</header>