<header ng-include="'components/navbar/navbar.html'"></header>
<search-bar dropdown="results" search="search"></search-bar>
<timeline items="points"></timeline>
<div class="page_not_found">
    <section class="section">
        <h1>Sorry, we are unable to display the page you requested</h1>
        <p>There could be a number of reasons for this: there may be a temporary technical issue, the page may have been moved or archived, or the page address may be incorrect.</p>
        <p>Try going back to <a href="#">your Pathway</a></p>
    </section>
</div>