<header class="site__header">
    <img src="images/logo.svg" alt="Patient Pathway" height="65">
</header>
<div class="page-not-found">
    <section class="section">
        <h1>Sorry, we are unable to display the page you requested</h1>
        <p>There could be a number of reasons for this: there may be a temporary technical issue, the page may have been moved or archived, or the page address may be incorrect.</p>
        <p>Try going back to <a href="#/paths">your Pathway</a></p>
    </section>
</div>