<main class="login">
    <img src="images/logo.svg" alt="Patient Pathway" width="280">

    <p>Welcome! Please sign in.</p>

    <form class="form" ng-submit="submit()">
        <label for="username">Username</label>
        <input type="text" id="username" ng-model="username" class="form__input" required>

        <label for="password">Password</label>
        <input type="password" id="password" ng-model="password" class="form__input" required>

        <button type="submit" class="btn">Login</button>
    </form>
    <p class="small"><a href="#">Forget Password?</a></p>
</main>