<navbar>
    <button class="btn" ng-click="newMedia()">New<span class="expanded"> Media</span></button>
</navbar>

<main class="media-manager">
    <section class="section">
        <h2>Media Manager</h2>
        <ul class="media-list" infinite-scroll="fetchNextItems()" infinite-scroll-distance="1" infinite-scroll-disabled="scrollPaused">
            <li ng-repeat="media in items" class="media-list__item">
                <span class="media icon" ng-class="['media--' + media.typeName, 'icon-' + media.typeName]"></span>
                <a ng-click="editMedia($index)" href="">{{media.title}}</a>
                <small class="small">{{media.description}}</small>
                <span class="media-list__item__actions">
                    <button class="btn btn--grey btn--small icon icon-remove" ng-click="deleteMedia($index)"></button>
                </span>
            </li>
        </ul>
    </section>
</main>