<main class="paths">
    <header ng-include="'components/navbar/navbar.html'"></header>
    <ul class="pathways">
        <li class="pathway-overview section" ng-repeat="pathway in paths">
            <h4 class="pathway-overview__header"><a ng-href="{{pathway.url}}">{{pathway.title}}</a></h4>

            <ul class="pathway-overview__points">
                <li class="pathway-overview__points__item" ng-repeat="item in pathway.points">
                    <h5><a href="#">{{item.title}}</a></h5>
                    <p>Date Started: {{item.dateStarted}}</p>
                </li>
            </ul>
        </li>
    </ul>
</main>