<header ng-include="'components/navbar/navbar.html'"></header>

<ul>
    <li ng-repeat="pathway in paths">
        <a ng-href="{{pathway.url}}">{{pathway.title}}</a>
    </li>
</ul>
<div class="pathway-container">
    <div class="pathway-outer">
        <section class="section blue">
            <h4>Peter Lloyd's Pathway</h4>
            <div class="pathway">
                <h5><a href="#">Broken Leg</a></h5>
                <p>Date Started:05/03/2015</p>
            </div>
            <div class="pathway">
                <h5><a href="#">Broken Arm</a></h5>
                <p>Date Started:06/03/2015</p>
            </div>
            <div class="pathway">
                <h5><a href="#">Broken Hand</a></h5>
                <p>Date Started:08/03/2015</p>
            </div>
        </section>
    </div>
    <div class="pathway-outer">
        <section class="section pink">
            <h4>Greg Ottley's Pathway</h4>
            <div class="pathway">
                <h5><a href="#">Broken Leg</a></h5>
                <p>Date Started:05/03/2015</p>
            </div>
            <div class="pathway">
                <h5><a href="#">Broken Arm</a></h5>
                <p>Date Started:06/03/2015</p>
            </div>
            <div class="pathway">
                <h5><a href="#">Broken Hand</a></h5>
                <p>Date Started:08/03/2015</p>
            </div>
        </section>
    </div>
    <div class="pathway-outer">
        <section class="section grey">
            <h4>Matt Kemp's Pathway</h4>
            <div class="pathway">
                <h5><a href="#">Broken Leg</a></h5>
                <p>Date Started:05/03/2015</p>
            </div>
            <div class="pathway">
                <h5><a href="#">Broken Arm</a></h5>
                <p>Date Started:06/03/2015</p>
            </div>
            <div class="pathway">
                <h5><a href="#">Broken Hand</a></h5>
                <p>Date Started:08/03/2015</p>
            </div>
        </section>
    </div>
    <div class="pathway-outer">
        <section class="section grey">
            <h4>Fran Haine's Pathway</h4>
            <div class="pathway">
                <h5><a href="#">Broken Leg</a></h5>
                <p>Date Started:05/03/2015</p>
            </div>
            <div class="pathway">
                <h5><a href="#">Broken Arm</a></h5>
                <p>Date Started:06/03/2015</p>
            </div>
            <div class="pathway">
                <h5><a href="#">Broken Hand</a></h5>
                <p>Date Started:08/03/2015</p>
            </div>
        </section>
    </div>
</div>