<main class="pathway">
    <header class="site__header">
        <div class="col col-1-4 left">
            <search-bar results="mediaResults" placeholder="Search Resources" on-search="searchMedia" on-item-click="addPoint"></search-bar>
        </div>
        <div class="col col-2-4 center">
            <a href="#/paths"><img id="logo" src="images/logo.svg" alt="Patient Pathway" height="65"></a>
        </div>
        <div class="col col-1-4 right">
            <button ng-click="openSettings()" class="btn settings">Settings</button>
        </div>
    </header>
    <timeline class="timeline" items="points" read-only="false"></timeline>
</main>