<main class="paths">
    <navbar><button class="btn" ng-click="newPathway()">New<span class="expanded"> Pathway</span></button></navbar>
    <ul class="pathways">
        <li class="pathway-overview section" ng-repeat="user in users">
            <h4 class="pathway-overview__header">{{user.name}}'s Pathway</h4>

            <ul class="pathway-overview__points">
                <li class="pathway-overview__points__item" ng-repeat="path in user.pathways">
                    <h5><a ng-route="{{path.url}}">{{path.title}}</a></h5>
                    <p class="small">Modified: {{path.dateModified | date : 'mediumDate'}}</p>
                </li>
            </ul>
        </li>
    </ul>
</main>