<navbar></navbar>

<main class="settings">
    <section class="section">
        <h2>Update Details</h2>
        <form class="form" ng-submit="submit()">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" ng-model="name" class="form__input" required>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" ng-model="email" class="form__input" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" ng-model="password" class="form__input" required>

            <button type="submit" class="btn">{{btnText}}</button>
        </form>
    </section>
</main>