<header class="site__header">
    <img src="images/logo.svg" alt="Patient Pathway" height="65">
</header>
<main>
    <h1>Style Guide</h1>

    <section class="section">
        <h1>Visual Style Guide</h1>
        <ol class="summary-header__anchor-list list-links">
            <li><a href="#media-types">Media Types</a></li>
            <li><a href="#typography">Typography</a></li>
            <li><a href="#links">Links</a></li>
            <li><a href="#lists">Lists</a></li>
            <li><a href="#buttons">Buttons</a></li>
            <li><a href="#forms">Input</a></li>
        </ol>
    </section>

    <section class="section" id="media-types">
        <h2>Media Types</h2>
        <div class="media media--video icon-video"></div>
        <div class="media media--link icon-link"></div>
        <div class="media media--pdf icon-pdf"></div>
    </section>

    <section class="section" id="typography">
        <h2>Typography</h2>

        <h1>Header One</h1>
        <h2>Header Two</h2>
        <h3>Header Three</h3>
        <h4>Header Four</h4>
    </section>

    <section class="section" id="links">
        <h2>Links</h2>
        <p>
            Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit. Incidunt, totam, voluptas, harum itaque
            placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum
            eaque repellendus soluta cupiditate distinctio quam.
        </p>
    </section>

    <section class="section" id="lists">
        <h2>Lists</h2>

        <h3>Default lists</h3><h4>ul</h4>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
            <li>Minus, possimus, veniam, incidunt eligendi</li>
        </ul>
        <ul>
            <li>Lorem ipsum dolor sit amet.
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
        </ul>
        <ul>
            <li>Lorem ipsum dolor sit amet.
                <ol>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ol>
            </li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
        </ul>
        <h4>ol</h4>
        <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
            <li>Minus, possimus, veniam, incidunt eligendi</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
            <li>Minus, possimus, veniam, incidunt eligendi</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
            <li>Minus, possimus, veniam, incidunt eligendi</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
        </ol>
        <ol>
            <li>Lorem ipsum dolor sit amet.
                <ol>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ol>
            </li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ol>
        <ol>
            <li>Lorem ipsum dolor sit amet.
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ol>
        <h4>dl</h4>
        <dl>
            <dt>Term</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque
                placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum
                eaque repellendus soluta cupiditate distinctio quam.
            </dd>
            <dt>Term</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque
                placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum
                eaque repellendus soluta cupiditate distinctio quam.
            </dd>
            <dt>Term</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque
                placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum
                eaque repellendus soluta cupiditate distinctio quam.
            </dd>
        </dl>
        <h3>Default lists of links</h3><h4>ul</h4>
        <ul class="list-links"><!-- # helvetica -->
            <li class="list__item"><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li class="list__item"><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
            <li class="list__item"><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
        </ul>
        <ul class="list-links list-links--primary"><!-- > roboto -->
            <li class="list__item"><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li class="list__item"><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
            <li class="list__item"><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
        </ul>
        <h4>ol</h4>
        <ol class="list-links">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li class="current"><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
            <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
        </ol>
        <ol class="list-anchor">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
            <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
        </ol>
        <ol class="list-anchor list-small">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
            <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
        </ol>
        <ol class="list-links list-links--secondary">
            <li><a href="#">Layout basics</a></li>
            <li><a href="#">Basics layouts</a></li>
            <li><a href="#">Layout patterns</a></li>
        </ol>
        <ol class="list-links list-links--secondary list-small">
            <li><a href="#">Layout basics</a></li>
            <li><a href="#">Basics layouts</a></li>
            <li><a href="#">Layout patterns</a></li>
        </ol>
    </section>

    <section class="section" id="buttons">
        <h2>Buttons</h2>
        <a href="#" class="btn btn--primary">Primary Button</a>
        <a href="#" class="btn btn--secondary">Secondary Button</a>
        <a href="#" class="btn btn--disabled">Disabled Button</a>
        <a href="#" class="btn btn--info">Info Button</a>
        <a href="#" class="btn btn--warning">Warning Button</a>
        <a href="#" class="btn btn--danger">Danger Button</a>
    </section>

    <section class="section" id="forms">
        <h2>Forms</h2>
        <form class="form" action="#" method="post">
            <label for="username">Username</label>
            <input class="form__input" type="text" id="username">

            <label for="password">Password</label>
            <input class="form__input" type="password" id="password">

            <button class="btn" type="submit">Submit</button>
        </form>
    </section>
</main>