<navbar></navbar>
<main>
    <section class="section">
        <h1>Visual Style Guide</h1>
        <ol class="summary-header__anchor-list list-links">
            <li><a href="#media-types">Media Types</a></li>
            <li><a href="#typography">Typography</a></li>
            <li><a href="#links">Links</a></li>
            <li><a href="#lists">Lists</a></li>
            <li><a href="#buttons">Buttons</a></li>
            <li><a href="#forms">Input</a></li>
        </ol>
    </section>

    <section class="section" id="media-types">
        <h2>Media Types</h2>
        <div class="media media--video icon icon-video"></div>
        <div class="media media--link icon icon-link"></div>
        <div class="media media--pdf icon icon-pdf"></div>
        <div class="media media--image icon icon-image"></div>
        <div class="media media--form icon icon-form"></div>
    </section>

    <section class="section" id="typography">
        <h2>Typography</h2>

        <h1>Header One</h1>
        <h2>Header Two</h2>
        <h3>Header Three</h3>
        <h4>Header Four</h4>

        <br>

        <p class="small">Small Paragraph</p>
        <p>Normal Paragraph</p>
        <p class="big">Big Paragraph</p>
    </section>

    <section class="section" id="links">
        <h2>Links</h2>
        <p>
            Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit. Incidunt, totam, voluptas, harum itaque
            placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum
            eaque repellendus soluta cupiditate distinctio quam.
        </p>
    </section>

    <section class="section" id="lists">
        <h2>Lists</h2>

        <h3>Default lists</h3><h4>ul</h4>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
            <li>Minus, possimus, veniam, incidunt eligendi</li>
        </ul>
        <ul>
            <li>Lorem ipsum dolor sit amet.
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
        </ul>
        <h4>ol</h4>
        <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Dicta optio cumque dolore hic ea facilis</li>
            <li>Minus, possimus, veniam, incidunt eligendi</li>
            <li>Lorem ipsum dolor sit amet</li>
        </ol>
        <ol>
            <li>Lorem ipsum dolor sit amet.
                <ol>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ol>
            </li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ol>
        <h4>dl</h4>
        <dl>
            <dt>Term</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque
                eaque repellendus soluta cupiditate distinctio quam.
            </dd>
            <dt>Term</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque
                eaque repellendus soluta cupiditate distinctio quam.
            </dd>
        </dl>
    </section>

    <section class="section" id="buttons">
        <h2>Buttons</h2>
        <a href="#" class="btn">Button</a>
        <a href="#" class="btn btn--dark">Dark Button</a>
        <a href="#" class="btn btn--grey">Grey Button</a>
    </section>

    <section class="section" id="forms">
        <h2>Forms</h2>
        <form class="form" action="#" method="post">
            <label for="text">Text</label>
            <input class="form__input" type="text" id="text">

            <label for="password">Password</label>
            <input class="form__input" type="password" id="password">

            <label for="select">Select</label>
            <select class="form__select" id="select">
                <option value="op1">Option 1</option>
                <option value="op2">Option 2</option>
                <option value="op3">Option 3</option>
                <option value="op4">Option 4</option>
            </select>

            <button class="btn" type="submit">Submit</button>
        </form>
    </section>

    <section class="section" id="modal">
        <h2>Modal</h2>
        <div class="modal">
            <div class="modal__header">
                <h2>Modal Title</h2>
            </div>

            <div class="modal__body">
                <!-- video or content or ? -->
            </div>

            <div class="modal__footer">
                <button class="close">Close</button>
            </div>
        </div>
    </section>
</main>